<header>
  <div class="section-1">
    <div class="drawer-menu">
      <button id="menu-btn">
        <img src="/assets/icons/menu.svg" alt="menu icon" />
      </button>
    </div>
    <div class="brand">
      <a class="special" href="/">
        <img src="/assets/icons/brand.png" alt="" />
        <h1>وبسایت فروشگاهی</h1>
      </a>
    </div>
    <div class="search">
      <div class="box">
        <form action="/search" class="search-form">
          <input
            type="text"
            name="q"
            id="search-input"
            value="<%= text %>"
            required
            placeholder="دنبال محصول خاصی میگردید؟"
          />
          <button id="search-btn">
            <img src="/assets/icons/search.svg" alt="" />
          </button>
        </form>
        <% if (recentSearches) { %>
          <div class="recent-searches">
            <h6>جستجو های اخیر شما</h6>
            <div class="searches">
              <ul>
                <% recentSearches.map(recentSearch => { %>
                  <li>
                    <a href="/search?q=<%= recentSearch.query %>">
                      <img src="/assets/icons/recent.svg" alt="" />
                      <span><%= recentSearch.query %></span>
                    </a>
                  </li>
                <% }); %>
              </ul>
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="user-actions">
      <div class="action-links">
        <a class="action-link" href="/favorites">
          <img src="/assets/icons/heart.svg" alt="" />
        </a>
        <a class="action-link" href="/cart">
          <img src="/assets/icons/cart.svg" alt="" />
        </a>
      </div>
      <span class="vertical-line"></span>
      <% if(!login_state) { %>
        <div class="auth-links">
          <a class="auth-link" href="/auth/register">ثبت نام</a>
          <a class="auth-link" href="/auth/login">ورود</a>
        </div>
      <% } else { %>
        <div class="user-data">
          <button id="open-user-data-box-btn">
            <img src="/assets/icons/person.svg" alt="" />
            <img src="/assets/icons/caret.svg" alt="" />
          </button>
          <div class="user-data-box">
            <div class="name">
              <img src="/assets/icons/person.svg" alt="" />
              <span><%= user.first_name %></span>
            </div>
            <button id="exit-from-account-btn">
              <img src="/assets/icons/exit.svg" alt="" />
              <span>خروج</span>
            </button>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <div class="spacer"></div>
  <div class="section-2">
    <div class="navbar">
      <nav>
        <a class="special <%= page == 'index' ? 'on' : '' %>" href="/">
          <img src="/assets/icons/house.svg" alt="" />
          <span>خانه</span>
        </a>
        <a class="special <%= page == 'products' ? 'on' : '' %>" href="/products">
          <img src="/assets/icons/product.svg" alt="" />
          <span>محصولات</span>
        </a>
        <a class="special <%= page == 'support' ? 'on' : '' %>" href="/support">
          <img src="/assets/icons/support.svg" alt="" />
          <span>پشتیبانی</span>
        </a>
        <a class="special <%= page == 'about-us' ? 'on' : '' %>" href="/about-us">
          <img src="/assets/icons/about-us.svg" alt="" />
          <span>درباره ما</span>
        </a>
      </nav>
    </div>
    <div class="welcome-msg">
      <span id="greeting-text">صبح بخیر</span>
      <span>،</span>
      <span>به وبسایت ما خوش آمدید</span>
      <span class="vertical-line"></span>
      <img id="greeting-icon" src="/assets/icons/morning.png" alt="" />
    </div>
  </div>
</header>
