<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>وبسایت فروشگاهی</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/brand.png" />
    <link rel="stylesheet" href="/libs/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="/libs/notyf/notyf.min.css">
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/index.css">
  </head>
  <body>
    <div class="overlay hidden"></div>
    <%- include("includes/drawer") %>
    <div class="main">
      <%- include("includes/header") %>
      <div class="header-overlay hidden"></div>
      <main>
        <section class="website-advertise">
          <div class="swiper">
            <div class="swiper-button-prev"></div>
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <div class="side-1">
                    <h3>فقط سه مرحله :‌ سفارش - پردازش - ارسال!</h3>
                    <p>اعتبار شما اعتبار ماست.</p>
                  </div>
                  <div class="side-2">
                    <img src="/assets/gifs/online-shopping.gif" alt="">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="side-1">
                    <h3>پشتیبانی ۲۴ ساعته عین رفیق کنارته!</h3>
                    <p>حل مشکلاتتون رو به پشتیبانی مجرب ما بسپارید.</p>
                  </div>
                  <div class="side-2">
                    <img src="/assets/gifs/support.gif" alt="">
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <div class="side-1">
                    <h3>هر نقطه ای  از کشور باشی برا ما فرقی نمیکنه!</h3>
                    <p>ارسال ایمن مرسوله به سراسر کشور.</p>
                  </div>
                  <div class="side-2">
                    <img src="/assets/gifs/delivery-truck.gif" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
          </div>
        </section>
        <section class="bestsellers">
          <h4>پرفروش ترین ها</h4>
          <%- include("includes/products-list") %>
        </section>
        <section class="categories">
          <h4>دسته بندی ها</h4>
          <div class="swiper">
            <div class="swiper-button-prev"></div>
            <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-color: #FF6B6B;">
                <a href="#electronics-category">
                  <img src="/assets/images/electronics.jpg" alt="">
                  <div class="details">
                    <h5>کالای الکترونیک</h5>
                    <span>لپ تاپ, گوشی, تبلت و ...</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide" style="background-color: green;">
                <a href="#electronics-category">
                  <img src="/assets/images/electronics.jpg" alt="">
                  <div class="details">
                    <h5>کالای الکترونیک</h5>
                    <span>لپ تاپ, گوشی, تبلت و ...</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide" style="background-color: #b9c737;">
                <a href="#electronics-category">
                  <img src="/assets/images/electronics.jpg" alt="">
                  <div class="details">
                    <h5>کالای الکترونیک</h5>
                    <span>لپ تاپ, گوشی, تبلت و ...</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide" style="background-color: #4D96FF;">
                <a href="#electronics-category">
                  <img src="/assets/images/electronics.jpg" alt="">
                  <div class="details">
                    <h5>کالای الکترونیک</h5>
                    <span>لپ تاپ, گوشی, تبلت و ...</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide" style="background-color: rgb(31, 188, 228);">
                <a href="#electronics-category">
                  <img src="/assets/images/electronics.jpg" alt="">
                  <div class="details">
                    <h5>کالای الکترونیک</h5>
                    <span>لپ تاپ, گوشی, تبلت و ...</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide" style="background-color: teal;">
                <a href="#electronics-category">
                  <img src="/assets/images/electronics.jpg" alt="">
                  <div class="details">
                    <h5>کالای الکترونیک</h5>
                    <span>لپ تاپ, گوشی, تبلت و ...</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide" style="background-color: burlywood;">
                <a href="#electronics-category">
                  <img src="/assets/images/electronics.jpg" alt="">
                  <div class="details">
                    <h5>کالای الکترونیک</h5>
                    <span>لپ تاپ, گوشی, تبلت و ...</span>
                  </div>
                </a>
              </div>
              <div class="swiper-slide" style="background-color: tomato;">
                <a href="#electronics-category">
                  <img src="/assets/images/electronics.jpg" alt="">
                  <div class="details">
                    <h5>کالای الکترونیک</h5>
                    <span>لپ تاپ, گوشی, تبلت و ...</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-pagination"></div>
          </div>
        </section>
        <section class="most-visted">
          <h4>پربازدید ترین ها</h4>
          <%- include("includes/products-list") %>
        </section>
        <section class="faq-section">
          <div class="side-right">
            <h4>سوالات متداول</h4>
            <p>سوالاتی که ممکنه داشته باشید.</p>
            <ul>
              <li class="faq-item">
                <input type="checkbox" id="faq1" hidden>
                <label for="faq1">
                  <span class="text">
                    به هر نقطه ای از ایران مرسوله رو میفرستید؟
                  </span>
                  <img src="/assets/icons/caret.png" alt="">
                </label>
                <div class="faq-answer">
                  <p>بله, مرسوله به هر جایی از ایران از شرقش تا غرب و از شمالش تا جنوب براتون ارسال میکنیم!</p>
                </div>
              </li>
              <li class="faq-item">
                <input type="checkbox" id="faq2" hidden>
                <label for="faq2">
                  <span class="text">
                    به هر نقطه ای از ایران مرسوله رو میفرستید؟
                  </span>
                  <img src="/assets/icons/caret.png" alt="">
                </label>
                <div class="faq-answer">
                  <p>بله, مرسوله به هر جایی از ایران از شرقش تا غرب و از شمالش تا جنوب براتون ارسال میکنیم!</p>
                </div>
              </li>
              <li class="faq-item">
                <input type="checkbox" id="faq3" hidden>
                <label for="faq3">
                  <span class="text">
                    به هر نقطه ای از ایران مرسوله رو میفرستید؟
                  </span>
                  <img src="/assets/icons/caret.png" alt="">
                </label>
                <div class="faq-answer">
                  <p>بله, مرسوله به هر جایی از ایران از شرقش تا غرب و از شمالش تا جنوب براتون ارسال میکنیم!</p>
                </div>
              </li>
              <li class="faq-item">
                <input type="checkbox" id="faq4" hidden>
                <label for="faq4">
                  <span class="text">
                    به هر نقطه ای از ایران مرسوله رو میفرستید؟
                  </span>
                  <img src="/assets/icons/caret.png" alt="">
                </label>
                <div class="faq-answer">
                  <p>بله, مرسوله به هر جایی از ایران از شرقش تا غرب و از شمالش تا جنوب براتون ارسال میکنیم!</p>
                </div>
              </li>
              <li class="faq-item">
                <input type="checkbox" id="faq5" hidden>
                <label for="faq5">
                  <span class="text">
                    به هر نقطه ای از ایران مرسوله رو میفرستید؟
                  </span>
                  <img src="/assets/icons/caret.png" alt="">
                </label>
                <div class="faq-answer">
                  <p>بله, مرسوله به هر جایی از ایران از شرقش تا غرب و از شمالش تا جنوب براتون ارسال میکنیم!</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="side-left">
            <img src="/assets/gifs/faq.gif" alt="">
          </div>
        </section>
      </main>
      <%- include("includes/footer") %>
    </div>
    <script>
      window.isLoggedInNow = JSON.parse('<%- JSON.stringify(isLoggedInNow) %>')
    </script>
    <script src="/libs/notyf/notyf.min.js"></script>
    <script src="/libs/swiper/swiper-bundle.min.js"></script>
    <script src="/scripts/global.js"></script>
    <script src="/scripts/index.js"></script>
  </body>
</html>
