<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ورود | وبسایت فروشگاهی</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/brand.png" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/libs/notyf/notyf.min.css" />
    <link rel="stylesheet" href="/styles/login.css" />
  </head>
  <body>
    <div class="main">
      <div class="box">
        <div class="brand">
          <a class="special" href="/">
            <img src="/assets/icons/brand.png" alt="">
            <span class="vertical-line"></span>
            <h1>وبسایت فروشگاهی</h1>
          </a>
        </div>
        <div class="title">
          <h5>ورود</h5>
        </div>
        <form action="/auth/login" method="post">
          <div class="inputs">
            <div class="input">
              <img src="/assets/icons/mail.svg" alt="" />
              <input
                type="email"
                name="email"
                value="<%= oldData ? oldData.email : '' %>"
                required
                placeholder="ایمیل خود را وارد کنید..."
              />
            </div>
            <% if(errors && errors.length > 0){ %> <% errors.map(error => { %>
            <% if(error.field == "email") { %>
            <li><%= error.error %></li>
            <% } %> <% }); %> <% } %>
            <div class="input">
              <img src="/assets/icons/password.svg" alt="" />
              <input
                type="password"
                name="password"
                value="<%= oldData ? oldData.password : '' %>"
                required
                placeholder="رمز عبور خود را وارد کنید..."
              />
              <button
                type="button"
                class="show-password-btn"
                id="show-password-btn"
              >
                <img src="/assets/icons/eye.svg" alt="" />
              </button>
            </div>
            <% if(errors && errors.length > 0){ %> <% errors.map(error => { %>
            <% if(error.field == "password") { %>
            <li><%= error.error %></li>
            <% } %> <% }); %> <% } %>
          </div>
          <button type="submit">ورود</button>
        </form>
        <p>حساب ندارید؟ <a href="/auth/register">ساخت حساب</a>.</p>
        <a href="/">صفحه اصلی</a>
      </div>
    </div>
    <script src="/libs/notyf/notyf.min.js"></script>
    <script src="/scripts/login.js"></script>
    <script>
      if ("<%= error %>") {
        notyf.error("<%= error %>");
      }
    </script>
  </body>
</html>
