<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>محصولات | وبسایت فروشگاهی</title>
    <link rel="icon" type="image/x-icon" href="/assets/icons/brand.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/libs/flexboxgrid/flexboxgrid.css" />
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/libs/sweetalert2/sweetalert2.min.css">
  </head>
  <body>
    <div class="overlay hidden"></div>
    <%- include("includes/drawer", { page: 'products' }) %>
    <div class="main">
      <%- include("includes/header", { page: 'products' }) %>
      <div class="header-overlay hidden"></div>
      <main>
        <section class="products-section">
          <div class="products">
            <h1>محصولات</h1>
            <form action="/products" class="filters-form">
                <div class="filters">
                  <% if(categories) { %>
                    <div class="category">
                  <label for="category">دسته بندی</label>
                  <select name="category" id="category">
                    <option value="all" <%= settings.category == 'all' ? 'selected' : '' %>>همه</option>
                    <% categories.map(category => { %>
                      <option value="<%=category.name%>" <%= settings.category == category.name ? 'selected' : '' %>><%= category.name_fa %></option>
                    <% }); %>
                  </select>
                    </div>
                    <div class="order-by">
                <label for="order-by">بر اساس</label>
                <select name="orderBy" id="order-by">
                  <option value="most-visited" <%= settings.orderBy == 'most-visted' ? 'selected' : '' %>>پر بازدید ترین</option>
                  <option value="best-seller" <%= settings.orderBy == 'best-seller' ? 'selected' : '' %>>پرفروش ترین</option>
                  <option value="newest" <%= settings.orderBy == 'newest' ? 'selected' : '' %>>جدید ترین</option>
                  <option value="most-expensive" <%= settings.orderBy == 'most-expensive' ? 'selected' : '' %>>گران ترین</option>
                  <option value="the-cheapest" <%= settings.orderBy == 'the-cheapest' ? 'selected' : '' %>>ارزان ترین</option>
                  <option value="buyers-suggestions" <%= settings.orderBy == 'buyers-suggestions' ? 'selected' : '' %>>پیشنهادات خریداران</option>
                </select>
                    </div>
                  <% } %>
                </div>
                <div class="submit">
                  <button class="submit-btn">اعمال</button>
                </div>
            </form>
            <% if(products) { %>
              <div class="products-list row">
              <% products.products.map(product => { %>
                <div
                  class="product-card col-xs-12 col-sm-8 col-md-6 col-lg-3"
                >
                  <a href="/product/<%= product.product_code %>">
                    <div class="row-1">
                      <img src="<%= product.image %>" alt="" />
                    </div>
                    <div class="row-2">
                      <h5><%= product.title %></h5>
                      <div class="rate">
                        <span class="rate-number"><%= toPersianDigitsHelper(product.rate) %></span>
                        <img src="/assets/icons/star.png" alt="" />
                      </div>
                        <span class="price"><%= product.price_fa %> تومان</span>
                      </div>
                    </a>
                  </div>
                <% }); %>
              </div>
              <div class="pagination">
                <% if(products.pages !== 1){ %>
                   <button>
                    <img src="/assets/icons/back.svg" style="transform: rotate(180deg);" alt="">
                  </button>
                <% for(let page in products.pages) { %>
                  <a class="<%= page == settings.page ? 'on' : '' %>" href="/products?page=<%= page %>&category=<%= settings.category %>&orderBy=<%= settings.orderBy %>"><%= toPersianDigitsHelper(products.pages) %></a>
                <% } %>
                  <button>
                    <img src="/assets/icons/back.svg" alt="">
                  </button>
                <% } %>
              </div>
            <% } else { %>
              <div style="text-align: center;">
                <p style="font-size: 1.3em;">محصولی وجود ندارد.</p>
              </div>
            <% } %>
          </div>
        </section>
      </main>
      <%- include("includes/footer") %>
    </div>
    <script src="/libs/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="/scripts/global.js"></script>
  </body>
</html>
